<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="jenkins.testcases.TC_01TestCasestart"/>
      <class name="jenkins.testcases.TC_04FourthTestCase"/>
      <class name="jenkins.testcases.TC_02SecondCasestart"/>
      <class name="jenkins.testcases.TC_03ThirdCasestart"/>
      <class name="jenkins.testcases.TC_05FifthTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
